<main>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center">NAGANO CAKE</h1>
          <!--ナビゲーション-->
          <nav class="navbar">
            <ul class="container">
              <li class="col-3 list-unstyled text-center"><%= link_to "Home", root_path %></li>
              <li class="col-3 list-unstyled text-center"><%= link_to "Shop", items_path %></li>
            </ul>
          </nav>
          <p style="text-align:center">
            昨年始めたInstagramから人気となった長野県にある<br>
            小さな洋菓子店「ながのCAKEのCAKE」です。<br>
            ひとつひとつ心を込めて手作りしています。<br>
            長野県から全国へお届け致します。
          </p>
          <p style="padding-left: 250px;">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d819481.650077921!2d137.55542444715013!3d36.64804012809825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601d805de6344499%3A0xf128a974072892c8!2z6ZW36YeO55yM6ZW36YeO5biC!5e0!3m2!1sja!2sjp!4v1629991149252!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe><br>
          〒165-5768 長野県長野市x-x-xx<br>
          TEL:026-xxx-xxxx<br>
          open:7:00<br>
          close:18:00<br>
          </p>
      <!--col-12-->
      </div>
    <!--row-->
    </div>
  <!--container-->
  </div>
</main>