<main>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center">NAGANO CAKE</h1>
          <!--ナビゲーション-->
          <nav class="navbar">
            <ul class="container">
              <li class="col-3 list-unstyled text-center"><a href="#">About</a></li>
              <li class="col-3 list-unstyled text-center"><a href="#">Shop</a></li>
              <li class="col-3 list-unstyled text-center"><a href="#">Login</a></li>
              <li class="col-3 list-unstyled text-center"><a href="#">Cart</a></li>
            </ul>
          </nav>
      <!--col-12-->
      </div>
    <!--row-->
    </div>
  <!--container-->
  </div>
  <div class="text-center">
    <%= link_to image_tag('sweets-887722_1280.jpg'), 'items_path' %>
  </div>
</main>